/** demo carrotcell styles
*/
.carrotCell {
	margin: 20px 0;
	border: dashed 1px #ccc;
}

.carrotCellView {
	margin: 0 20px;
}

.carrotCellView ol {
	background: #efefef;
}

.carrotCellView li {
	width: 100px;
	height: 100px;
	border: solid 5px #666;
	margin: 10px;
}

.carrotCellView li.cloned {
	border-color: #ffcc00;
}

.carrotCellView li span {
	font-size: 26px;
	position: absolute;
	top: 0;
	left: 0;
	color: #ffcc00;
	line-height: 1em;
}

.carrotCellView li img {
	height: 100px;
}

/** carrotcell buttons
*/
.carrotCell .next,
.carrotCell .prev {
	position: absolute;
	top: 60px;
	text-decoration: none;
	font-family: arial;
	color: #666;
	background: #fff;
	padding: 3px;
	font-size: 10px;
	display: none;
	z-index: 1;
	cursor: pointer;
	text-transform: uppercase;
	border: solid 1px #ccc;
}

.carrotCell .next {
	right: 0px;
}

.carrotCell .prev {
	left: 0;
}

.carrotCell .pause,
.carrotCell .play,
.carrotCell .stop {
	margin: 10px 5px;
	float: left;
	border: solid 1px #ccc;
	padding: 3px 5px;
	cursor: pointer;
	display: block;
	float: left;
	color: #000;
}

.navi {
	margin: 10px 0 0 20px;
}

.naviItem {
	display: inline-block;
	padding: 6px;
	margin: 3px;
	cursor: pointer;
	background: #ccc;
	color: #fff;
	font-weight: bold;
}

.navi .current {
	background: #99cc33;
}


.kitten {
	width: 560px;
}

.kitten .carrotCellView {
	width: 520px;
}

.example {
	width: 100%;
	overflow: hidden;
	position: relative;
	margin-bottom: 20px;
}

.example .kitten {
	float: left;
	margin-right: 20px;
}

.example button.result {
	border: solid 1px #ccc;
	cursor: pointer;
	
}

.example .result {
	border: dashed 1px #ccc;
	line-height: 1.2em;
	padding: 10px;
	float: left;
	margin: 20px 20px 0 0;
}

.example .result input {
	border: solid 1px #ccc;
	display: inline;
	margin: 0;
	padding: 5px;
	width: 20px;
}