/**
Reset
*/
/* line 15, ../sass/_reset.scss */
html, body, div, span, object, iframe,
h1, h3, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code,
del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var,
b, i,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure,
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
}

/* line 25, ../sass/_reset.scss */
body {
  line-height: 1;
}

/* line 30, ../sass/_reset.scss */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

/* line 34, ../sass/_reset.scss */
nav ul {
  list-style: none;
}

/* line 38, ../sass/_reset.scss */
blockquote, q {
  quotes: none;
}

/* line 43, ../sass/_reset.scss */
blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

/* line 48, ../sass/_reset.scss */
a {
  margin: 0;
  padding: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
}

/* line 56, ../sass/_reset.scss */
ins {
  background-color: #ff9;
  color: #000;
  text-decoration: none;
}

/* line 62, ../sass/_reset.scss */
mark {
  background-color: #ff9;
  color: #000;
  font-style: italic;
  font-weight: bold;
}

/* line 69, ../sass/_reset.scss */
del {
  text-decoration: line-through;
}

/* line 73, ../sass/_reset.scss */
abbr[title], dfn[title] {
  border-bottom: 1px dotted;
  cursor: help;
}

/* line 78, ../sass/_reset.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 83, ../sass/_reset.scss */
hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #cccccc;
  margin: 1em 0;
  padding: 0;
}

/* line 92, ../sass/_reset.scss */
input, select {
  vertical-align: middle;
}

/* line 96, ../sass/_reset.scss */
ol, ul, li {
  list-style: none;
  overflow: hidden;
}

/* line 105, ../sass/_reset.scss */
article,
header,
footer,
aside,
hgroup {
  overflow: hidden;
}

body {
	padding: 50px 0;
	font-family: helvetica, arial;
	font-size: 11px;
}

/**
*/
.carrotCell {
	overflow: hidden;
	width: 520px;
	margin: 20px auto;
	position: relative;
}

.carrotCellView {
	width: 520px;
	overflow: auto;
	position: relative;
}

.carrotCell ol {
	background: #ccc;
	display: block;
}

.carrotCell li {
	width: 100px;
	height: 100px;
	overflow: hidden;
	border: solid 5px #000;
	margin: 10px;
	float: left;
	display: block;
	position: relative;
}

.carrotCell li.cloned {
	border-color: #ffcc00;
}

.carrotCell li.empty {
	border-color: #aaa;
}

.carrotCell li span {
	font-size: 26px;
	position: absolute;
	top: 0;
	left: 0;
	color: #ffcc00;
}

.carrotCell li img {
	height: 100px;
}

.carrotCell .next,
.carrotCell .prev {
	position: absolute;
	top: 50%;
	text-decoration: none;
	font-family: arial;
	color: #000;
	background: #fff;
	padding: 3px;
	font-size: 10px;
	display: none;
	z-index: 1;
	cursor: pointer;
}

.carrotCell .next {
	right: 0px;
}

.carrotCell .prev {
	left: 0;
}

.carrotCell .pause,
.carrotCell .play,
.carrotCell .stop {
	margin: 10px 5px;
	float: left;
	border: solid 1px #ccc;
	padding: 3px 5px;
	cursor: pointer;
}

/**
*/
#kittenhell {
	width: 130px;
	height: 620px;
}

#kittenhell  .carrotCellView {
	height: 520px;
}

#kittenhell ol {
	width: 130px;
	background: #666;
}

#kittenhell .next {
	top: 0;
	right: 0;
}

#kittenhell .prev {
	top: 0;
}

.carrotCell .disabled {
	display: none!important;
}

/**
*/
.wrap {
	width: 100%;
	overflow: hidden;
}