/**
Reset
*/

html, body, div, span, object, iframe,
h1, h3, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code,
del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var,
b, i,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure,
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
}

body {
  line-height: 1;
}

article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

nav ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

a {
  margin: 0;
  padding: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
}

ins {
  background-color: #ff9;
  color: #000;
  text-decoration: none;
}

mark {
  background-color: #ff9;
  color: #000;
  font-style: italic;
  font-weight: bold;
}

del {
  text-decoration: line-through;
}

abbr[title], dfn[title] {
  border-bottom: 1px dotted;
  cursor: help;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #cccccc;
  margin: 1em 0;
  padding: 0;
}

input, select {
  vertical-align: middle;
}

ol, ul, li {
  list-style: none;
  overflow: hidden;
}

article,
header,
footer,
aside,
hgroup {
  overflow: hidden;
}

body {
	font-family: helvetica, arial;
	font-size: 13px;
	color: #666;
	padding: 20px;
}

/**
*/
a {
	color: #666;
}

h1, h2, h3 {
	font-family: georgia, times;
	font-weight: normal;
}

h1 {
	font-size: 75px;
	padding: 0;
}

h1 span {	
	color: #ff9900;
}

h1 em {
	color: #99cc33;
	font-style: normal;
}

h2 {
	font-size: 30px;
}

h3 {
	margin: 10px 0 0 0;
	font-size: 20px;
}

blockquote {
	font-family: georgia, times;
	padding: 0 5px;
}

article {
	width: 100%;
	overflow: hidden;
}

p {
	line-height: 1.2em;
	margin: 5px 0;
}

li {
	line-height: 1.2em;
}

blockquote {
	font-style: italic;
	margin: 20px 0;
}

nav {
	margin: 20px 0;
	display: block;
}

nav a {
	background: #666;
	color: #fff;
	padding: 5px;
	text-decoration: none;
}

nav a:hover {
	background: #000;
}

code {
	background: #efefef;
	margin: 20px 0;
	padding: 10px;
	display: block;
	line-height: 1.2em;
}

code span {
	color: #99cc33;
}

.realList li {
	margin: 10px;
	padding-left: 10px;
}

ul.realList li {
	list-style: disc inside none;
}

ol.realList li {
	list-style: decimal inside none;
}

p span{
	font-size: 20px;
	font-family: georgia, times;
}

/** property tables
*/

table {
	margin: 10px 0;
}

th {
	background: #666;
	color: #fff;
	padding: 10px;
	border-left: solid 1px #fff;
}

thead {
	padding-bottom: 10px;
}

td {
	padding: 10px;
	background: #efefef;
	border-left: solid 1px #fff;
}

tr {
	border-bottom: solid 1px #fff;
}

td code {
	margin: 0;
	padding: 0;
	background: none;
	font-size: 12px;
	font-family: helvetica, arial;
}

/** demo carrotcell styles
*/
.carrotCell {
	margin: 20px 0;
}

.carrotCellView {
	margin: 0 20px;
}

.carrotCellView ol {
	background: #efefef;
}

.carrotCellView li {
	width: 100px;
	height: 100px;
	border: solid 5px #666;
	margin: 10px;
}

.carrotCellView li.cloned {
	border-color: #ffcc00;
}

.carrotCellView li span {
	font-size: 26px;
	position: absolute;
	top: 0;
	left: 0;
	color: #ffcc00;
	line-height: 1em;
}

.carrotCellView li img {
	height: 100px;
}

/** carrotcell buttons
*/
.carrotCell .next,
.carrotCell .prev {
	position: absolute;
	top: 60px;
	text-decoration: none;
	font-family: arial;
	color: #666;
	background: #fff;
	padding: 3px;
	font-size: 10px;
	display: none;
	z-index: 1;
	cursor: pointer;
	text-transform: uppercase;
	border: solid 1px #ccc;
}

.carrotCell .next {
	right: 0px;
}

.carrotCell .prev {
	left: 0;
}

.carrotCell .pause,
.carrotCell .play,
.carrotCell .stop {
	margin: 10px 5px;
	float: left;
	border: solid 1px #ccc;
	padding: 3px 5px;
	cursor: pointer;
}

.carrotCell .navi {
	margin: 10px 0 0 20px;
}

.carrotCell .navi li {
	display: inline-block;
	padding: 4px 6px 2px 6px;
	margin: 3px;
	cursor: pointer;
	background: #666;
	color: #fff;
	font-weight: bold;
}

.carrotCell .navi li.current {
	background: #000;
}

/** specific carousel things
*/

#kitten1, 
#kitten2, 
#kitten5,
#kitten6,
#kitten7,
#kitten9
{
	width: 560px;
}

#kitten1 .carrotCellView,
#kitten5 .carrotCellView,
#kitten6 .carrotCellView,
#kitten7 .carrotCellView,
#kitten9 .carrotCellView
{
	width: 520px;
}

#kitten3, 
#kitten4 {
	width: 180px;
}

#kitten3 .carrotCellView,
#kitten4 .carrotCellView {
	height: 260px;
}

#kitten3 .carrotCellView ol {
	width: 130px;
	background: #efefef;
}

#kitten3 .next {
	top: 50px;
	right: 0;
}

#kitten3 .prev {
	top: 50px;
}

.button {
	border: solid 1px #aaa;
	padding: 3px 5px;
	background: #ccc;
	font-weight: bold;
	color: #000;
	text-decoration: none;
	font-family: arial;
	display: block;
	margin: 5px 0;
	width: 100px;
	text-align: center;
	cursor: pointer;
}

#kitten7test {
	width: 100%;
	overflow: hidden;
	background: #efefef;
	margin-left: -5px;
}

#kitten7test code {
	width: 47%;
	float: left;
	margin: 0;
	border-left: solid 5px #fff;
}

#kitten8Nav {
	padding: 0 20px;
	text-align: center;
	width: 480px;
}

#kitten8Nav .navi {
	display: inline;
	cursor: pointer;
	margin: 0 10px;
}

#kitten8Nav .navi div {
	padding: 3px 7px;
	display: inline;
}

#kitten8Nav .navi .current {
	background: #efefef;
}

#kitten8Nav .btn {
	display: inline;
	cursor: pointer;
}

#kitten8Nav .disabled {
	color: #ccc;
}

#kitten8 {
		width: 500px;
}

#kitten8 .carrotCellView {
	width: 480px;
	background: #ff9900;
}

#kitten8 div div div{
	float: left;
	border: solid 3px #cc6600;
	margin: 7px;
	position: relative;
	overflow: hidden;
}

#kitten8 img {
	display: block;
}

#kitten8 div div div span {
	position: absolute;
	background: #000;
	color: #fff;
	padding: 5px 10px;
	font-weight: bold;
}

#kitten9test {
	background: #efefef;
	padding: 10px;
	overflow: hidden;
}

#kitten9test code {
	margin: 0;
}

