/**
Reset
*/

html, body, div, span, object, iframe,
h1, h3, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code,
del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var,
b, i,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure,
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
}

body {
  line-height: 1;
}

article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

nav ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

a {
  margin: 0;
  padding: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
}

ins {
  background-color: #ff9;
  color: #000;
  text-decoration: none;
}

mark {
  background-color: #ff9;
  color: #000;
  font-style: italic;
  font-weight: bold;
}

del {
  text-decoration: line-through;
}

abbr[title], dfn[title] {
  border-bottom: 1px dotted;
  cursor: help;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #cccccc;
  margin: 1em 0;
  padding: 0;
}

input, select {
  vertical-align: middle;
}

ol, ul, li {
  list-style: none;
  overflow: hidden;
}

article,
header,
footer,
aside,
hgroup {
  overflow: hidden;
}

body {
	font-family: helvetica, arial;
	font-size: 13px;
	color: #666;
	padding: 20px;
}

a {
	color: #ff9900;
	text-decoration: none;
	border-bottom: dotted 1px #ff9900;
}

a:hover {
	color: #99cc33;
}

h1, h2, h3 {
	font-family: georgia, times;
	font-weight: normal;
	line-height: 1.2em;
}

h1 {
	font-size: 75px;
	padding: 0 10px;
}

h1 span {	
	color: #ff9900;
}

h1 em {
	color: #99cc33;
	font-style: normal;
}

h1 strong {
	font-size: 40px;
	font-weight: normal;
	color: #ff9900;
}

h2 {
	font-size: 30px;
}

h3 {
	margin: 10px 0 0 0;
	font-size: 20px;
}

blockquote {
	font-family: georgia, times;
	padding: 0 5px;
}

article {
	width: 100%;
	overflow: hidden;
}

article h2 {
	color: #99cc33;
}


p {
	line-height: 1.2em;
	margin: 5px 0;
}

li {
	line-height: 1.2em;
}

blockquote {
	font-style: italic;
	margin: 20px 0;
}

nav {
	margin: 20px 0;
	display: block;
}

nav a {
	background: #666;
	color: #fff;
	padding: 5px;
	text-decoration: none;
	border: none;
}

nav a:hover {
	background: #000;
}

code {
	background: #efefef;
	margin: 20px 0;
	padding: 10px 10px 25px 10px;
	display: block;
	line-height: 1.2em;
	overflow-x: auto;
}

code span {
	color: #99cc33;
}

pre {
    word-wrap: break-word;
}

.realList li {
	margin: 10px;
	padding-left: 10px;
}

ul.realList li {
	list-style: disc inside none;
}

ol.realList li {
	list-style: decimal inside none;
}

p span{
	font-size: 20px;
	font-family: georgia, times;
}

p a {
	color: #99CC33;
	border-bottom: dotted 1px #99CC33;
	text-decoration: none;
}

p a:hover {
	color: #ff9900;
}

p em {
	color: #ff9900;
}

/** property tables
*/

table {
	margin: 10px 0 50px 0;
}

th {
	background: #666;
	color: #fff;
	padding: 10px;
	border-left: solid 1px #fff;
}

thead {
	padding-bottom: 10px;
}

td {
	padding: 10px;
	background: #efefef;
	border-left: solid 1px #fff;
}

tr {
	border-bottom: solid 1px #fff;
}

td code {
	margin: 0;
	padding: 0;
	background: none;
	font-size: 12px;
	font-family: helvetica, arial;
}

/** index
*/
.index {
	list-style-type: decimal;
	padding: 20px;
	font-family: georgia;
	font-size: 16px;
	margin: -30px 0 0 50px;
}

.index li {
	list-style-type: decimal;
	padding: 3px 10px;
	margin: 0 10px;
	overflow: visible;
}

.index li .sub li {
	list-style-type: circle;
	margin: 0 16px;
}

/** RAINBOW related styles
*/

.comment {
        color: #ccc;
}

.javascript .comment {
    color: #535353;
}

.meta, .entity {
    color: #f03200;
}

.support {
    color: #006dcf;
}

.string {
    color: #ff9900;
}

.string.regexp {
    color: #fff;
}

.support.attribute, .support.css-property, .support.regex.modifier {
    color: #0087ff;
}

.support.value {
    color: #1bbbcf;
}

.integer, .constant {
    color: #669900;
}

.keyword, .selector, .storage {
    color: #006600;
}

.constant.regex.escape {
    color: #d8fa3c;
}

