/** specific carousel things
*/

.kitten {
	width: 560px;
}

.kitten .carrotCellView {
	width: 520px;
}


#kitten1, 
#kitten2, 
#kitten5,
#kitten6,
#kitten7,
#kitten9,
#kittenx
{
	width: 560px;
}

#kitten1 .carrotCellView,
#kitten5 .carrotCellView,
#kitten6 .carrotCellView,
#kitten7 .carrotCellView,
#kitten9 .carrotCellView,
#kittenx .carrotCellView
{
	width: 520px;
}

#kitten3, 
#kitten4 {
	width: 180px;
}

#kitten3 .carrotCellView,
#kitten4 .carrotCellView {
	height: 260px;
}

#kitten3 .carrotCellView ol {
	width: 130px;
	background: #efefef;
}

#kitten3 .next {
	top: 47%;
	right: 0;
}

#kitten3 .prev {
	top: 47%;
}

.button {
	border: solid 1px #aaa;
	padding: 3px 5px;
	background: #ccc;
	font-weight: bold;
	color: #000;
	text-decoration: none;
	font-family: arial;
	display: block;
	margin: 5px 0;
	width: 100px;
	text-align: center;
	cursor: pointer;
}

#kitten7test {
	width: 100%;
	overflow: hidden;
	margin-left: -5px;
}

#kitten7testinsert, #kitten7testload {
	width: 100%;
	padding: 20px;
	margin-bottom: 10px;
	background: #efefef;
}

#kitten7test code {

	margin: 0;
}

#kitten8Nav {
	padding: 0 20px;
	text-align: center;
	width: 480px;
}

#kitten8Nav .navi {
	display: inline;
	cursor: pointer;
	margin: 0 10px;
}

#kitten8Nav .navi div {
	padding: 3px 7px;
	display: inline;
}

#kitten8Nav .navi .current {
	background: #efefef;
}

#kitten8Nav .btn {
	display: inline;
	cursor: pointer;
}

#kitten8Nav .disabled {
	color: #ccc;
}

#kitten8 {
		width: 500px;
}

#kitten8 .carrotCellView {
	width: 480px;
	background: #ff9900;
	margin: 10px;
}

#kitten8 div div div{
	float: left;
	border: solid 3px #cc6600;
	margin: 7px;
	position: relative;
	overflow: hidden;
}

#kitten8 img {
	display: block;
}

#kitten8 div div div div {
	position: absolute;
	background: #000;
	color: #fff;
	padding: 5px 10px;
	font-weight: bold;
	border: none;
	margin: 0;
}

#kitten9test {
	background: #efefef;
	padding: 10px;
	overflow: hidden;
}

#kitten9test code {
	margin: 0;
}

/*** ----------------- kittenx
**/

#kittenxNav {
	padding: 0 20px;
	text-align: center;
	width: 480px;
}

#kittenxNav .navi {
	display: inline;
	cursor: pointer;
	margin: 0 10px;
}

#kittenxNav .navi div {
	padding: 3px 7px;
	display: inline;
}

#kittenxNav .navi .current {
	background: #efefef;
}

#kittenxNav .btn {
	display: inline;
	cursor: pointer;
}

#kittenxNav .disabled {
	color: #ccc;
}

#kittenx {
		width: 502px;
/*		width: 260px;*/
}

#kittenx .carrotCellView {
	width: 482px;
/*	width: 240px;*/
	background: #ff9900;
	margin: 10px;
}

#kittenx div div div{
	float: left;
	border: solid 3px #cc6600;
	margin: 7px;
	position: relative;
	overflow: hidden;
}

#kittenx img {
	display: block;
}

#kittenx div div div div {
	position: absolute;
	background: #000;
	color: #fff;
	padding: 5px 10px;
	font-weight: bold;
	border: none;
	margin: 0;
}

.carrotCellContainer {
	overflow: hidden;
}