@import "partials/vars";
@import "partials/fonts";

// -------------------------------- resets 

ol, ul {
    @extend %nofrill;
    list-style: none;
}

button {
    @extend %nofrill;
    background: none;
    border: none;
}

// --------------------------------

body {
    color: $color-text;
    font-family: PT;
    font-weight: $light;
    font-size: 15px;
}


a {
    text-decoration: none;
    color: $color-carrot;
}

a:hover {
    color: $color-leaf; 
}

a[class^="cc-"]:before {
    margin-right: 4px;
    font-size: 85%;
}

h1 {
    margin: 60px 0 40px;
    font-family: code;
    font-weight: $light;
    color: $color-header;
    font-size: 50px;

    a {
        color: inherit;
    }

    :after {
        font-size: 43px;
        color: $color-header;
    }
}


h2 {
    font-family: raleway;
    font-weight: $light;
    color: $color-header;
    font-size: 30px;
}

p {
    font-size: 15px;
}

.intro {
    @extend h2;
    font-size: 20px;
    line-height: 1.4em;
}

nav {
    @extend %clearfix;
    margin-top: 20px;

    ol {
        float: right;
        font-family: PT;

        li {
            display: inline-block;
            margin-right: 20px;
        }
    }
    
}

.content {
    @extend %clearfix;
    width: 960px;
    margin: 0 auto;
}

#jcc-home {
    margin-top: 80px;

    li {
        background: url(../img/j.png) no-repeat center center;
        background-size: 100%;
    }

    .slide-j {
        background-image: url(../img/j.png)
    }

    .slide-carrot {
        background-image: url(../img/carrot.png)
    }

    .slide-cell {
        background-image: url(../img/cell.png)
    }

    .prev, .next {
        width: 30px;
        height: 30px;
        margin-top: -15px; 
        color: transparent;
    }

    .prev:before, .next:before {
        font-size: 30px;
        color: $color-carrot;
    }

}

