@charset "UTF-8";

@import "partials/vars";
@import "partials/fonts";

// -------------------------------- resets 

:focus {
    outline: none;
    background-color: $color-leaf;
    color: #fff;
}

// --------------------------------

body {
    color: $color-text;
    font-family: PT;
    font-weight: $light;
    font-size: 15px;
}


a {
    text-decoration: none;
    color: $color-carrot;
}

a:hover {
    color: $color-leaf; 
}

a[class^="cc-"]:before {
    margin-right: 4px;
    font-size: 85%;
}

h1 {
    margin: 100px 0 40px;
    font-family: code;
    font-weight: $light;
    color: $color-header;
    font-size: 50px;

    a {
        color: inherit;
    }

    :after {
        font-size: 43px;
        color: $color-header;
    }
}

h2 {
    font-family: raleway;
    font-weight: $light;
    color: $color-header;
    font-size: 30px;
}

p {
    font-size: 15px;
    line-height: 1.6em;
}

section {
    @extend %clearfix;
    padding: 80px 0 0 0;
}

nav {
    @extend %clearfix;
    position: absolute;
    top: 10px;
    right: -10px;

    ol {
        font-family: PT;
        margin: 10px;

        li {
            display: inline-block;
            margin-right: 20px;
        }
    }
    
}

footer {
    margin-top: 100px;
    @extend %clearfix;
    background-color: #404040;
    color: #ffffff;
    padding: 40px 10px;

    p {
        font-size: 14px;
    }
    
}

pre {
    @include round(10px);
    padding: 20px;
    background-color: #f7f7f7;
}

.content {
    @extend %clearfix;
    position: relative;
    width: 960px;
    margin: 0 auto;
    padding: 0 10px;
}

.intro {
    @extend h2;
    font-size: 20px;
    line-height: 1.4em;
}

.list {

    li {
        margin: 10px 0
    }

    li:before {
      @extend %beforeCarrotCell;
      content: "\e010";
      margin-right: 10px;
    }
}

#jcc-home {
    @extend .nofrill;

    width: 90%;
    // width: 1020px;
    margin: 80px auto 0 auto;
    border: solid 3px #000;
    box-sizing: content-box;
    // padding: 10px;

    img {
        display: block;
    }

    .prev, .next {
        width: 30px;
        height: 30px;
        color: $color-carrot;
        font-size: 28px;
    }

    .prev:hover, .next:hover, .prev:focus, .next:focus {
        color: $color-leaf;
        background: transparent;
    }

    .disabled {
        opacity: 0;
    }


    // .navi {
    //     margin: 20px 0 0 0;

    //     .naviItem {
    //         color: transparent;
    //         margin-right: 10px;
    //     }

    //     .naviItem:before {
    //         @extend %beforeCarrotCell;
    //         content: "\e007";
    //         color: $color-text;
    //         font-size: 14px;
    //     }

    //     .current:before {
    //         color: $color-carrot;
    //     }
    // }

}

.jcc-item {
    // width: 1644px;
    border: solid 2px red;
    margin: 5px;
    // box-sizing: border-box;
}

@import "partials/rainbow";


// ------------------------------------  ipad and smaller
@media screen and (max-width: 980px) {
    .content {
        width: 100%;
    }
}

// ------------------------------------  iphone
@media screen and (max-width: 600px)  {

}