/*! 
	CARROT CELL support CSS
*/

/** ------------------------------------------------------- 
	necessary styles
*/
.carrotcell {
	position: relative;


	.prev, .next {
        position: absolute;
        top: 50%;
        left: 10px;
        cursor: pointer;
    }

    .next {
        left: auto;
        right: 10px;
    }

    .disabled {
    	opacity: 0.2;
    }

	// .navi {
	// 	display: block;

	// 	li {
	// 		display: inline-block;
	// 		cursor: pointer;
	// 	}

	// 	.naviItem {
	// 		display: inline-block;
	// 	}
	// }

	// .carrotCellView {

	// 	ol {
	// 		display: block;
	// 		z-index: 0;
	// 	}

	// 	li {
	// 		overflow: hidden;
	// 		float: left;
	// 		display: block;
	// 		position: relative;
	// 	}
	// }

	// .next, .prev, .pause, y, .stop {
	// 	display: none;
	// 	z-index: 1;
	// 	cursor: pointer;
	// }
}

