/*! 
	CARROT CELL support CSS
*/

/** ------------------------------------------------------- 
	necessary styles
*/
.carrotcell {
	position: relative;

    &__clip {
        overflow: hidden;
        margin: 0;
        padding: 0;
        border: none;
    }

    &__strip {
        margin: 0;
        padding: 0;
        list-style: none;
    }

    &__item {
        display: block;
        float: left;
    }

	&--prev, &--next {
        position: absolute;
        top: 50%;
        left: 10px;
        cursor: pointer;
        background: none;
        border: none;
        margin: 0;
        padding: 0;
    }


    &--next {
        left: auto;
        right: 10px;
    }

    &__icon {

        &--iconPrev:before {
            content: '◀';
        }

        &--iconNext:before {
            content: '▶';
        }
    }

    &__accessText {
        display: inline-block;
        text-indent: -9999em;
    }

    .disabled {
    	opacity: 0.2;
    }

	// .navi {
	// 	display: block;

	// 	li {
	// 		display: inline-block;
	// 		cursor: pointer;
	// 	}

	// 	.naviItem {
	// 		display: inline-block;
	// 	}
	// }

	// .carrotCellView {

	// 	ol {
	// 		display: block;
	// 		z-index: 0;
	// 	}

	// 	li {
	// 		overflow: hidden;
	// 		float: left;
	// 		display: block;
	// 		position: relative;
	// 	}
	// }

	// .next, .prev, .pause, y, .stop {
	// 	display: none;
	// 	z-index: 1;
	// 	cursor: pointer;
	// }
}

