-var addMin = (dev == true) ? "" : ".min"

doctype html
html(lang="en")
    head
        meta(charset="utf-8", http-equiv="X-UA-Compatible", content="IE=edge,chrome=1") 
        title jCarrotCell Documentation
        meta(name="description", content="a jQuery carousel plugin by Julia Yu")
        meta(name="viewport", content="width=device-width,initial-scale=1.0")
        link(rel="shortcut icon", href="img/favicon.ico", type="image/x-icon")
        link(rel="icon", href="img/favicon.ico", type="image/x-icon")
        link(rel="stylesheet", href="css/main"+ addMin +".css")

    body 
        .content
            h1(class="cc-carrot-after"): a(href=".") jCarrotCell Documentation
            include includes/nav.jade

        .content 
            ul.list--star
                li
                    a(href="#setup") Setup
                    ul.list--dot
                        li: a(href="#css") Include CSS
                        li: a(href="#markup") Create Markup
                        li: a(href="#javascript") Include Javascripts
                        li: a(href="#create") Create CarrotCell
                li
                    a(href="#settings") Settings 
                    ul.list--dot
                        li: a(href="#") show
                        li: a(href="#") scroll
                        li: a(href="#") duration 
                        li: a(href="#") sideways
                        li: a(href="#") easing
                        li: a(href="#") infinite

                        li: a(href="#") usePrevNext
                        li: a(href="#") prevClass
                        li: a(href="#") prevIconClass
                        li: a(href="#") prevText
                        li: a(href="#") nextClass
                        li: a(href="#") nextIconClass
                        li: a(href="#") nextText

                        li: a(href="#") auto
                        li: a(href="#") autoDuration
                        li: a(href="#") pauseOnHover
                        li: a(href="#") usePausePlay
                        li: a(href="#") pauseClass
                        li: a(href="#") pauseIconClass
                        li: a(href="#") pauseText
                        li: a(href="#") playClass
                        li: a(href="#") playIconClass
                        li: a(href="#") playText 
                        li: a(href="#") controlOnHover 

                        li: a(href="#") useDots
                        li: a(href="#") dotsClass
                        li: a(href="#") dotClass
                        li: a(href="#") dotButtonClass
                        li: a(href="#") dotIconClass
                        li: a(href="#") dotText
                        li: a(href="#") onClass
                        li: a(href="#") dotsOnHover 

                        li: a(href="#") key
                        li: a(href="#") keyBack
                        li: a(href="#") keyForward 
                        li: a(href="#") keyToggle

                        li: a(href="#") breakpoints

                li
                    a(href="#api") API Methods
                    ul.list--carrot
                        li: a(href="#") getName
                        li: a(href="#") getCount
                        li: a(href="#") getShowing

                        li: a(href="#") previous
                        li: a(href="#") next
                        li: a(href="#") pause
                        li: a(href="#") play
                        li: a(href="#") moveToItem

                        li: a(href="#") update
                        li: a(href="#") insert
                        li: a(href="#") remove
                        
        .content 
            article#setup
                h1 Setup

                p
                    a(href="dist/jcarrotcell.zip", class="cc-download") Download 
                    | the jCarrotCell bundle or clone the repo from  
                    a(href="https://github.com/yujulia/jCarrotCell", class="cc-github", target="_blank") Github
                    |.
                    | You will need to include some version of 
                    a(href="https://jquery.com/" target="_blank") jQuery 
                    | (version 1.7+) before 
                    strong jCarrotCell.js 
                    | and also the styles from  
                    strong carrotcell.css. 
                br


                h2#css Include CSS 
                p
                    | Include the 
                    strong carrotcell.css 
                    |, or  
                    strong carrotcell.scss 
                    | to set the default styles of carrotcell. 
                    | You can manually edit the css file to change the styles, or over ride them by pass in
                    | additional CSS classes through the 
                    a(href="#settings") settings object.

                pre: code(data-language="html").
                    &lt;link rel="stylesheet" type="text/css" href="carrotcell.css"&gt;
                br 

                h2#markup Create Markup 

                h3 Markup (using list)
                pre: code(data-language="html").
                    &lt;ol class="my-carrotcell"&gt;
                        &lt;li&gt;item 1&lt;/li&gt;
                        &lt;li&gt;item 2&lt;/li&gt;
                        &lt;li&gt;item 3&lt;/li&gt;
                    &lt;/ol&gt;  
                h3 OR Markup (using divs)
                pre: code(data-language="html").
                    &lt;div class="my-carrotcell"&gt;
                        &lt;div&gt;item 1&lt;/div&gt;
                        &lt;div&gt;item 2&lt;/div&gt;
                        &lt;div&gt;item 3&lt;/div&gt;
                    &lt;/div&gt;   
                p 
                    | You can use whatever tags you like as long as they follow the basic structure
                    | of a parent element including some children elements.
                br 

                h2#javascript Include Javascript 
                p 
                    | jCarrotCell uses 
                    a(href="http://julian.com/research/velocity/" target="_external") Velocity.js 
                    | for animations and fall back on jQuery animate. 

                    | If you want to use something other than the default tweens with animate and NOT velocity, please include 
                    a(href="http://gsgd.co.uk/sandbox/jquery/easing/" target="_external") jQuery Easing 
                    | , otherwise, jCarrotCell will use the default tween "swing". 

                h3 Javascript includes (the minimal): 
                pre: code(data-language="html").
                    &lt;script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.4/jquery.min.js" type="text/javascript" charset="utf-8"&gt;&lt;/script&gt;
                    &lt;script src="jcarrotcell.min.js" charset="utf-8"&gt;&lt;/script&gt;
                h3 OR Javascript includes with Velocity (recommended):
                pre: code(data-language="html").
                    &lt;script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.4/jquery.min.js" type="text/javascript" charset="utf-8"&gt;&lt;/script&gt;
                    &lt;script src="https://cdnjs.cloudflare.com/ajax/libs/velocity/1.2.2/velocity.min.js" type="text/javascript" charset="utf-8"&gt;&lt;/script&gt;
                    &lt;script src="jcarrotcell.min.js" charset="utf-8"&gt;&lt;/script&gt;
                h3 OR Javascript includes with Jquery Easing:
                pre: code(data-language="html").
                    &lt;script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.4/jquery.min.js" type="text/javascript" charset="utf-8"&gt;&lt;/script&gt;
                    &lt;script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-easing/1.3/jquery.easing.min.js" type="text/javascript" charset="utf-8"&gt;&lt;/script&gt;
                    &lt;script src="jcarrotcell.min.js" charset="utf-8"&gt;&lt;/script&gt;      
                br 

                h2#create Create CarrotCell
                p 
                    | Create a carrotcell by calling the function .carrotCell on a jQuery selector. 
                    | You can check the console for any errors. 

                pre: code(data-language="js") $(".my-carrotcell").carrotCell();
                br

        .content 
            article#settings
                h1 Settings

                p Change the settings of the carrotcell by passing in a settings object in the carrotcell creation.

                h2 Using Settings
                pre: code(data-language="js").
                    $(".my-carrotcell").carrotCell({
                        show: 3,
                        scroll: 3
                    });
                br

                h2 Settings Values
                ul.list-settings

                    li 
                        h3 show (integer, default 1)
                        p How many items to show on screen
                    li
                        h3 scroll (integer, default 1)
                        p How many items to scroll 
                    li
                        h3 duration (integer millisecs, default 500)
                        p Length of scroll animation duration

                    li
                        h3 sideways (boolean, default true)
                        p True indicates sideways or horizontal scrolling, false indicates vertical scrolling

                    li
                        h3 easing (string, default "easeOutExpo" or "swing")
                        p The tween animation for scrolling, "easeOutExpo" is used if Velocity or Easing is included, "swing" if only jQuery Animate.
                    li
                        h3 infinite (boolean, default false)
                        p Indicates this will scroll infinitely in both directions. If using auto: true this will be triggered to true.

                    li
                        h3 usePrevNext (boolean, default true)
                        p Generate previous and next buttons
                    li
                        h3 prevClass
                        p Class name for previous button
                    li
                        h3 prevIconClass
                        p Class name for prevous icon, inside previous button
                    li
                        h3 prevText (string, "next item set")
                        p Accessible text for previous, inside previous button
                    li
                        h3 nextClass
                        p Class name for next button
                    li
                        h3 nextIconClass
                        p Class name for next icon, inside next button 
                    li
                        h3 nextText (string, default "previous item set")
                        p Accessible text for next, inside next button
                        

                    li
                        h3 auto (boolean, default false)
                        p Indicate this slide show will auto play
                    li
                        h3 autoDuration (integer millisecs, default 10000)
                        p How long to pause if auto scrolling on each item
                    li
                        h3 pauseOnHover (boolean, default true)
                        p Hovering over the carrotcell will pause the auto animation
                    li
                        h3 usePausePlay (boolean, default true)
                        p Generate pause and play buttons if using auto
                    li
                        h3 pauseClass (string)
                        p Class name for pause button
                    li
                        h3 pauseIconClass (string)
                        p Class name for pause icon, inside pause button.
                    li
                        h3 pauseText (string, default "pause auto scroll")
                        p Accessible text for pause button.
                    li
                        h3 playClass (string)
                        p Class name for play button
                    li
                        h3 playIconClass (string)
                        p Class name for play icon, inside play button.
                    li
                        h3 playText (string, default "resume auto scroll")
                        p Accessible text for play button.
                    li
                        h3 controlOnHover (boolean, default false)
                        p Hide the previous, next, play, pause controls unless carrotcell is being hovered over. This is disabled on touch devices.


                    li
                        h3 useDots (boolean, default false)
                        p Generate the dots used for navigation. This is calculated per scroll event.
                    li
                        h3 dotsClass (string)
                        p Pass in a class name for the dots container. Please use "someclass someother-class" and not ".someclass"
                    li
                        h3 dotClass (string)
                        p Class name for the individual dots, this is inside dotsClass.
                    li
                        h3 dotButtonClass (string)
                        p Class name for the dot button, this is inside dotClass.
                    li
                        h3 dotIconClass (string)
                        p Class name for the dot icon, this is inside dotButtonClass.
                    li
                        h3 dotText (string, default "item set " + n)
                        p This is the access text for dots, ths is inside dotButtonClass. It will read "item set 0", "item set 1" and so on.
                    li
                        h3 onClass (string, default "carrotcell--on")
                        p This is the class used when the dot is highlighted when the item it is associated with is in view.
                    li
                        h3 dotsOnHover (boolean, default false)
                        p Hide the dots navigation unless carrotcell is being hovered over. This is disabled on touch devices.


                    li
                        h3 key (boolean, default false)
                        p Use keys to navigate controls
                    li
                        h3 keyBack (integer, default 37 left arrow or 38 up arrow)
                        p The keycode used to navigate previous
                    li
                        h3 keyForward (integer, default 39 right arrow or 40 down arrow)
                        p The keycode used to navigate next
                    li
                        h3 keyToggle (integer, default 80 letter p)
                        p The keycode used to toggle pause or play

                    li
                        h3 breakpoints (array of objects)
                        p Pass in additional parameters on pixel breakpoints for window width

                        pre: code(data-language="js").
                            $(".my-carrotcell").carrotCell({
                                breakpoints : [
                                    { pixels: 320, settings: { scroll: 1, show: 1 },
                                    { pixels: 900, settings: { scroll: 2, show: 2 }},
                                    { pixels: 1010, settings: { scroll: 3, show: 3 }}
                                ]
                            });
                        br




        include includes/footer.jade

        script(src='js/base.js', type="text/javascript", charset="utf-8")
