-var addMin = (dev == true) ? "" : ".min"

doctype html
html(lang="en")
    head
        meta(charset="utf-8", http-equiv="X-UA-Compatible", content="IE=edge,chrome=1") 
        title jCarrotCell Documentation
        meta(name="description", content="a jQuery carousel plugin by Julia Yu")
        meta(name="viewport", content="width=device-width,initial-scale=1.0")
        link(rel="shortcut icon", href="img/favicon.ico", type="image/x-icon")
        link(rel="icon", href="img/favicon.ico", type="image/x-icon")
        link(rel="stylesheet", href="css/main"+ addMin +".css")

    body 
        .content
            h1(class="cc-carrot-after"): a(href=".") jCarrotCell 
            include includes/nav.jade

        .content 
            article 
                h1 Documentation
                ul.list
                    li: a(href="#setup") Setup
                    li: a(href="#css") Include CSS
                    li: a(href="#markup") Create Markup
                    li: a(href="#javascript") Include Javascripts
                    li: a(href="#create") Create CarrotCell
                    li: a(href="#settings") Custom Settings 
                    li: a(href="#api") API Methods

        .content 
            article#setup
                h1 Setup

                p
                    a(href="dist/jcarrotcell.zip", class="cc-download") Download 
                    | the jCarrotCell bundle or clone the repo from  
                    a(href="https://github.com/yujulia/jCarrotCell", class="cc-github", target="_blank") Github
                    |.
                    | You will need to include some version of 
                    a(href="https://jquery.com/" target="_blank") jQuery 
                    | (version 1.7+) before 
                    strong jCarrotCell.js 
                    | and also the styles from  
                    strong carrotcell.css
                    | . 

            article#css
                h1 Include CSS 

                p
                    | Include the 
                    strong carrotcell.css 
                    |, or  
                    strong carrotcell.scss 
                    | to set the default styles of carrotcell. 
                    | You can manually edit the css file to change the styles, or over ride them by pass in
                    | additional CSS classes through the 
                    a(href="#settings") settings object.

                h2 CSS includes:
                pre: code(data-language="html").
                    &lt;link rel="stylesheet" type="text/css" href="carrotcell.css"&gt;


            article#markup
                h1 Create Markup 

                h2 Markup (using list)
                pre: code(data-language="html").
                    &lt;ol class="my-thing"&gt;
                        &lt;li&gt;item 1&lt;/li&gt;
                        &lt;li&gt;item 2&lt;/li&gt;
                        &lt;li&gt;item 3&lt;/li&gt;
                    &lt;/ol&gt;  
                h2 OR Markup (using divs)
                pre: code(data-language="html").
                    &lt;div class="my-thing"&gt;
                        &lt;div&gt;item 1&lt;/div&gt;
                        &lt;div&gt;item 2&lt;/div&gt;
                        &lt;div&gt;item 3&lt;/div&gt;
                    &lt;/div&gt;   
                p 
                    | You can use whatever tags you like as long as they follow the basic structure
                    | of a parent element including some children elements.


            article#javascript
                h1 Include Javascript 
                p 
                    | jCarrotCell uses 
                    a(href="http://julian.com/research/velocity/" target="_external") Velocity.js 
                    | for animations and fall back on jQuery animate. 

                    | If you want to use something other than the default tweens with animate and NOT velocity, please include 
                    a(href="http://gsgd.co.uk/sandbox/jquery/easing/" target="_external") jQuery Easing 
                    | , otherwise, jCarrotCell will use the default tween "swing". 

                h2 Javascript includes (the minimal): 
                pre: code(data-language="html").
                    &lt;script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.4/jquery.min.js" type="text/javascript" charset="utf-8"&gt;&lt;/script&gt;
                    &lt;script src="jcarrotcell.min.js" charset="utf-8"&gt;&lt;/script&gt;
                h2 OR Javascript includes with Velocity (recommended):
                pre: code(data-language="html").
                    &lt;script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.4/jquery.min.js" type="text/javascript" charset="utf-8"&gt;&lt;/script&gt;
                    &lt;script src="https://cdnjs.cloudflare.com/ajax/libs/velocity/1.2.2/velocity.min.js" type="text/javascript" charset="utf-8"&gt;&lt;/script&gt;
                    &lt;script src="jcarrotcell.min.js" charset="utf-8"&gt;&lt;/script&gt;
                h2 OR Javascript includes with Jquery Easing:
                pre: code(data-language="html").
                    &lt;script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.4/jquery.min.js" type="text/javascript" charset="utf-8"&gt;&lt;/script&gt;
                    &lt;script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-easing/1.3/jquery.easing.min.js" type="text/javascript" charset="utf-8"&gt;&lt;/script&gt;
                    &lt;script src="jcarrotcell.min.js" charset="utf-8"&gt;&lt;/script&gt;      
            article#create
                h1 Create CarrotCell

                p 
                    | Create a carrotcell by calling the function .carrotCell on a jQuery selector. 
                    | You can check the console for any errors. 

                pre: code(data-language="js") $(".my-thing").carrotCell();
        .content 
            article#settings
                h1 Settings

                p Change the settings of the carrotcell by passing in a settings object in the carrotcell creation.

                h2 Using Settings
                pre: code(data-language="js").
                    $(".my-thing").carrotCell({
                        show: 3,
                        scroll: 3
                    });
                h2 Settings Values
                    h3 show (integer, default 1)
                    p How many items to show on screen

                    h3 scroll (integer, default 1)
                    p How many items to scroll 

                    h3 duration (integer millisecs, default 500)
                    p Length of scroll animation duration

                    h3 sideways (boolean, default true)
                    p True indicates sideways or horizontal scrolling, false indicates vertical scrolling

                    h3 easing (string, default "easeOutExpo" or "swing")
                    p The tween animation for scrolling, "easeOutExpo" is used if Velocity or Easing is included, "swing" if only jQuery Animate.

                    h3 infinite (boolean, default false)
                    p Indicates this will scroll infinitely in both directions. If using auto: true this will be triggered to true.



                    h3 useDots (boolean, default false)
                    p Generate the dots used for navigation. This is calculated per scroll event.

                    h3 dotsClass (string)
                    p Pass in a class name for the dots container. Please use "someclass someother-class" and not ".someclass"

                    h3 dotClass (string)
                    p Class name for the individual dots, this is inside dotsClass.

                    h3 dotButtonClass (string)
                    p Class name for the dot button, this is inside dotClass.

                    h3 dotIconClass (string)
                    p Class name for the dot icon, this is inside dotButtonClass.

                    h3 dotText (string, default "item set " + n)
                    p This is the access text for dots, ths is inside dotButtonClass. It will read "item set 0", "item set 1" and so on.

                    h3 onClass (string, default "carrotcell--on")
                    p This is the class used when the dot is highlighted when the item it is associated with is in view.

                    h3 dotsOnHover (boolean, default false)
                    p Hide the dots navigation unless carrotcell is being hovered over. This is disabled on touch devices.



                    h3 usePrevNext (boolean, default true)
                    p Generate previous and next buttons

                    h3 prevClass
                    p Class name for previous button

                    h3 prevIconClass
                    p Class name for prevous icon, inside previous button

                    h3 prevText (string, "next item set")
                    p Accessible text for previous, inside previous button

                    h3 nextClass
                    p Class name for next button

                    h3 nextIconClass
                    p Class name for next icon, inside next button 

                    h3 nextText (string, default "previous item set")
                    p Accessible text for next, inside next button
                    


                    h3 auto (boolean, default false)
                    p Indicate this slide show will auto play

                    h3 autoDuration (integer millisecs, default 10000)
                    p How long to pause if auto scrolling on each item

                    h3 pauseOnHover (boolean, default true)
                    p Hovering over the carrotcell will pause the auto animation

                    h3 usePausePlay (boolean, default true)
                    p Generate pause and play buttons if using auto

                    h3 pauseClass (string)
                    p Class name for pause button

                    h3 pauseIconClass (string)
                    p Class name for pause icon, inside pause button.

                    h3 pauseText (string, default "pause auto scroll")
                    p Accessible text for pause button.

                    h3 playClass (string)
                    p Class name for play button

                    h3 playIconClass (string)
                    p Class name for play icon, inside play button.

                    h3 playText (string, default "resume auto scroll")
                    p Accessible text for play button.


                    h3 controlOnHover (boolean, default false)
                    p Hide the previous, next, play, pause controls unless carrotcell is being hovered over. This is disabled on touch devices.


                    h3 key (boolean, default false)
                    p Use keys to navigate controls

                    h3 keyBack (integer, default 37 left arrow or 38 up arrow)
                    p The keycode used to navigate previous

                    h3 keyForward (integer, default 39 right arrow or 40 down arrow)
                    p The keycode used to navigate next

                    h3 keyToggle (integer, default 80 letter p)
                    p The keycode used to toggle pause or play


                    h3 breakpoints (array of objects)
                    p Pass in additional parameters on pixel breakpoints for window width

                    pre: code(data-language="js").
                        breakpoints : [
                            { pixels: 320, settings: { scroll: 1, show: 1, usePausePlay: false }},
                            { pixels: 480, settings: { scroll: 2, show: 2 }},
                            { pixels: 1010, settings: { scroll: 1, show: 3 }},
                            { pixels: 900, settings: { scroll: 2, show: 2 }}
                        ],




        include includes/footer.jade

        script(src='js/base.js', type="text/javascript", charset="utf-8")
