-var addMin = (dev == true) ? "" : ".min"

doctype html
html(lang="en")
    head
        meta(charset="utf-8", http-equiv="X-UA-Compatible", content="IE=edge,chrome=1") 
        title jCarrotCell Documentation
        meta(name="description", content="a jQuery carousel plugin by Julia Yu")
        meta(name="viewport", content="width=device-width,initial-scale=1.0")
        link(rel="shortcut icon", href="img/favicon.ico", type="image/x-icon")
        link(rel="icon", href="img/favicon.ico", type="image/x-icon")
        link(rel="stylesheet", href="css/main"+ addMin +".css")

    body 
        .content
            h1(class="cc-carrot-after"): a(href=".") jCarrotCell 
            include includes/nav.jade

        .content 
            article 
                h1 Documentation
                ul.list
                    li: a(href="#setup") Setup
                    li: a(href="#css") Include CSS
                    li: a(href="#markup") Create Markup
                    li: a(href="#javascript") Include Javascripts
                    li: a(href="#create") Create CarrotCell
                    li: a(href="#settings") Custom Settings 
                    li: a(href="#api") API Methods

        .content 
            article#setup
                h1 Setup

                p
                    a(href="dist/jcarrotcell.zip", class="cc-download") Download 
                    | the jCarrotCell bundle or clone the repo from  
                    a(href="https://github.com/yujulia/jCarrotCell", class="cc-github", target="_blank") Github
                    |.
                    | You will need to include some version of 
                    a(href="https://jquery.com/" target="_blank") jQuery 
                    | (version 1.7+) before 
                    strong jCarrotCell.js 
                    | and also the styles from  
                    strong carrotcell.css
                    | . 

            article#css
                h1 Include CSS 

                p
                    | Include the 
                    strong carrotcell.css 
                    |, or  
                    strong carrotcell.scss 
                    | to set the default styles of carrotcell. 
                    | You can manually edit the css file to change the styles, or over ride them by pass in
                    | additional CSS classes through the 
                    a(href="#settings") settings object.

                h2 CSS includes:
                pre: code(data-language="html").
                    &lt;link rel="stylesheet" type="text/css" href="carrotcell.css"&gt;


            article#markup
                h1 Create Markup 

                h2 Markup (using list)
                pre: code(data-language="html").
                    &lt;ol class="my-thing"&gt;
                        &lt;li&gt;item 1&lt;/li&gt;
                        &lt;li&gt;item 2&lt;/li&gt;
                        &lt;li&gt;item 3&lt;/li&gt;
                    &lt;/ol&gt;  

                h2 OR Markup (using divs)
                pre: code(data-language="html").
                    &lt;div class="my-thing"&gt;
                        &lt;div&gt;item 1&lt;/div&gt;
                        &lt;div&gt;item 2&lt;/div&gt;
                        &lt;div&gt;item 3&lt;/div&gt;
                    &lt;/div&gt;   

                p 
                    | You can use whatever tags you like as long as they follow the basic structure
                    | of a parent element including some children elements.


            article#javascript
                h1 Include Javascript 

                p 
                    | jCarrotCell uses 
                    a(href="http://julian.com/research/velocity/" target="_external") Velocity.js 
                    | for animations and fall back on jQuery animate. 

                    | If you want to use something other than the default tweens with animate and NOT velocity, please include 
                    a(href="http://gsgd.co.uk/sandbox/jquery/easing/" target="_external") jQuery Easing 
                    | , otherwise, jCarrotCell will use the default tween "swing". 

                h2 Javascript includes (the minimal): 
                pre: code(data-language="html").
                    &lt;script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.4/jquery.min.js" type="text/javascript" charset="utf-8"&gt;&lt;/script&gt;
                    &lt;script src="jcarrotcell.min.js" charset="utf-8"&gt;&lt;/script&gt;
                

                h2 OR Javascript includes with Velocity (recommended):
                pre: code(data-language="html").
                    &lt;script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.4/jquery.min.js" type="text/javascript" charset="utf-8"&gt;&lt;/script&gt;
                    &lt;script src="https://cdnjs.cloudflare.com/ajax/libs/velocity/1.2.2/velocity.min.js" type="text/javascript" charset="utf-8"&gt;&lt;/script&gt;
                    &lt;script src="jcarrotcell.min.js" charset="utf-8"&gt;&lt;/script&gt;

                h2 OR Javascript includes with Jquery Easing:
                pre: code(data-language="html").
                    &lt;script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.4/jquery.min.js" type="text/javascript" charset="utf-8"&gt;&lt;/script&gt;
                    &lt;script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-easing/1.3/jquery.easing.min.js" type="text/javascript" charset="utf-8"&gt;&lt;/script&gt;
                    &lt;script src="jcarrotcell.min.js" charset="utf-8"&gt;&lt;/script&gt;          

            article#create
                h1 Create Carrotcell

                p 
                    | Create a carrotcell by calling the function .carrotCell on a jQuery selector. 
                    | You can check the console for any errors. 

                pre: code(data-language="js").
                    $(".my-thing").carrotCell();



        .content 
            article#settings
                h1 Settings

                p Change the settings of the carrotcell by passing in a settings object.

                h3 Settings Object
                pre: code(data-language="js").
                    $(".my-thing").carrotCell({
                        show: 3,
                        scroll: 3
                    });




        include includes/footer.jade

        script(src='js/base.js', type="text/javascript", charset="utf-8")
