-var addMin = (dev == true) ? "" : ".min"

mixin demoItem(index)
    div.demo__item
        figcaption= index
        figure 
            -var z = index
            while (z--)
                .cc-carrot
            if index == 0
                .cc-carrot.zero-carrot
            //- figcaption= index

doctype html
html(lang="en")
    head
        meta(charset="utf-8", http-equiv="X-UA-Compatible", content="IE=edge,chrome=1") 
        title jCarrotCell
        meta(name="description", content="a jQuery carousel plugin by Julia Yu")
        meta(name="viewport", content="width=device-width,initial-scale=1.0")
        link(rel="shortcut icon", href="img/favicon.ico", type="image/x-icon")
        link(rel="icon", href="img/favicon.ico", type="image/x-icon")
        link(rel="stylesheet", href="css/main"+ addMin +".css")

    body 
        .content
            h1(class="cc-carrot-after"): a(href=".") jCarrotCell

            include includes/nav.jade

            p.intro.
                A flexible, responsive, accessible jQuery carousel plugin. 

        ul(id="jcc-home")
            li.jcc-item.i1
                img(src="img/j.png", width="100%", alt="j") 
            li.jcc-item.i2
                img(src="img/carrot.png", width="100%", alt="carrot")
            li.jcc-item.i3
                img(src="img/cell.png", width="100%", alt="cell")

        .content
            section
                h2 Features
                ul.list
                    li Horizontal, vertical, infinite, auto, scroll by n scrolling.
                    li All controls and slides are accessible via keyboard and touch/swipe.
                    li Insert and remove items, update carousel config, move to item via the API.
                    li Responsive to window resize, set width breakpoints for different configs. 
                    li Customize with CSS styles, or pass in CSS classnames to over ride defaults.

            section
                h2 Setup 

                p
                    a(href="dist/jcarrotcell.zip", class="cc-download") Download 
                    | the jCarrotCell bundle or clone the repo from  
                    a(href="https://github.com/yujulia/jCarrotCell", class="cc-github", target="_blank") Github
                    |.

                h3 Include CSS:
                pre: code(data-language="html").
                    &lt;link rel="stylesheet" type="text/css" href="carrotcell.css"&gt;

                h3 Make Markup:
                pre: code(data-language="html").
                    <ol id="my-carousel">
                        <li>item 1</li>
                        <li>item 2</li>
                        <li>item 3</li>
                    </ol>  

                h3 Include Javascripts: 
                pre: code(data-language="html").
                    &lt;script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.4/jquery.min.js" type="text/javascript" charset="utf-8"&gt;&lt;/script&gt;
                    &lt;script src="jcarrotcell.min.js" charset="utf-8"&gt;&lt;/script&gt;

                h3 Call jCarrotCell:

                pre: code(data-language="js").
                    $("#my-carousel").carrotCell();

            section
                p 
                    | Checkout the 
                    a(href="doc.html" class="cc-files") documentation 
                    | for more information, API docs, and possible settings. Or look at the 
                    a(href="doc.html" class="cc-lab") demos. 


        include includes/footer.jade

        script(src='js/base.js', type="text/javascript", charset="utf-8")
