-var addMin = (dev == true) ? "" : ".min"

doctype html
html(lang="en")
    head
        meta(charset="utf-8", http-equiv="X-UA-Compatible", content="IE=edge,chrome=1") 
        title jCarrotCell
        meta(name="description", content="a jQuery carousel plugin by Julia Yu")
        meta(name="viewport", content="width=device-width,initial-scale=1.0")
        link(rel="shortcut icon", href="img/favicon.ico", type="image/x-icon")
        link(rel="icon", href="img/favicon.ico", type="image/x-icon")
        link(rel="stylesheet", href="css/main"+ addMin +".css")


    body 
        .content
            h1(class="cc-carrot-after") jCarrotCell

            p.intro.
                A flexible jQuery carousel plugin that offers more customization than necessary, probably. 

        div#jcc-home.carrotCell
            .carrotCellView
                ol
                    li
                        img(src="img/noir01.jpg")
                    li
                        img(src="img/noir02.jpg")


