.box, .nofrill, #jcc-home ol {
  zoom: 1; }
  .box:before, .nofrill:before, #jcc-home ol:before, .box:after, .nofrill:after, #jcc-home ol:after {
    content: "";
    display: table; }
  .box:after, .nofrill:after, #jcc-home ol:after {
    clear: both; }

.clipbox {
  width: 100%;
  overflow: hidden; }

.nofrill, #jcc-home ol {
  margin: 0;
  padding: 0; }

@font-face {
  font-family: 'code';
  src: url('../fonts/Code-Light.eot');
  src: url('../fonts/Code-Light.eot?#iefix') format('embedded-opentype'), url('../fonts/Code-Light.woff') format('woff'), url('../fonts/Code-Light.ttf') format('truetype'), url('../fonts/Code-Light.svg#webfont') format('svg');
  font-style: normal;
  unicode-range: U0-FFFF; }

@font-face {
  font-family: 'PT';
  src: url('../fonts/PTS55F-webfont.eot');
  src: url('../fonts/PTS55F-webfont.eot?#iefix') format('embedded-opentype'), url('../fonts/PTS55F-webfont.woff') format('woff'), url('../fonts/PTS55F-webfont.ttf') format('truetype'), url('../fonts/PTS55F-webfont.svg#webfont') format('svg');
  font-style: normal;
  unicode-range: U0-FFFF; }

@font-face {
  font-family: 'raleway';
  src: url('../fonts/raleway_thin-webfont.eot');
  src: url('../fonts/raleway_thin-webfont.eot?#iefix') format('embedded-opentype'), url('../fonts/raleway_thin-webfont.woff') format('woff'), url('../fonts/raleway_thin-webfont.ttf') format('truetype'), url('../fonts/raleway_thin-webfont.svg#webfont') format('svg');
  font-style: normal;
  unicode-range: U0-FFFF; }

@font-face {
  font-family: "carrotcell";
  src: url("../fonts/carrotcell.eot");
  src: url("../fonts/carrotcell.eot?#iefix") format("embedded-opentype"), url("../fonts/carrotcell.woff") format("woff"), url("../fonts/carrotcell.ttf") format("truetype"), url("../fonts/carrotcell.svg#carrotcell") format("svg");
  font-weight: normal;
  font-style: normal; }

[data-icon]:before {
  font-family: "carrotcell" !important;
  content: attr(data-icon);
  font-style: normal !important;
  font-weight: normal !important;
  font-variant: normal !important;
  text-transform: none !important;
  speak: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }

[class^="cc-"]:before, [class*=" cc-"]:before, [class^="cc-"]:after, [class*=" cc-"]:after {
  font-family: "carrotcell" !important;
  font-style: normal !important;
  font-weight: normal !important;
  font-variant: normal !important;
  text-transform: none !important;
  speak: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }

.cc-github:before {
  content: "\e003"; }

.cc-left:before {
  content: "\e004"; }

.cc-down:before {
  content: "\e005"; }

.cc-right:before {
  content: "\e006"; }

.cc-up:before {
  content: "\e007"; }

.cc-carrot:before, .cc-carrot-after:after {
  content: "\e001"; }

body {
  color: #aaaaaa;
  font-family: PT;
  font-weight: 300;
  font-size: 15px; }

h1 {
  font-family: code;
  font-weight: 300;
  color: #dddddd;
  font-size: 50px; }
  h1 :after {
    font-size: 43px;
    color: #999999; }

h2, .intro {
  font-family: raleway;
  font-weight: 300;
  color: #999999;
  font-size: 30px; }

p {
  font-size: 15px; }

.intro {
  font-size: 20px; }

.content {
  width: 960px;
  margin: 0 auto;
  margin-top: 100px; }

#jcc-home {
  margin-top: 100px; }
