ol, ul, nav, .content {
  zoom: 1; }
  ol:before, ul:before, nav:before, .content:before, ol:after, ul:after, nav:after, .content:after {
    content: "";
    display: table; }
  ol:after, ul:after, nav:after, .content:after {
    clear: both; }

ol, ul {
  margin: 0;
  padding: 0; }

@font-face {
  font-family: 'code';
  src: url('../fonts/Code-Light.eot');
  src: url('../fonts/Code-Light.eot?#iefix') format('embedded-opentype'), url('../fonts/Code-Light.woff') format('woff'), url('../fonts/Code-Light.ttf') format('truetype'), url('../fonts/Code-Light.svg#webfont') format('svg');
  font-style: normal;
  unicode-range: U0-FFFF; }

@font-face {
  font-family: 'PT';
  src: url('../fonts/PTS55F-webfont.eot');
  src: url('../fonts/PTS55F-webfont.eot?#iefix') format('embedded-opentype'), url('../fonts/PTS55F-webfont.woff') format('woff'), url('../fonts/PTS55F-webfont.ttf') format('truetype'), url('../fonts/PTS55F-webfont.svg#webfont') format('svg');
  font-style: normal;
  unicode-range: U0-FFFF; }

@font-face {
  font-family: 'raleway';
  src: url('../fonts/raleway_thin-webfont.eot');
  src: url('../fonts/raleway_thin-webfont.eot?#iefix') format('embedded-opentype'), url('../fonts/raleway_thin-webfont.woff') format('woff'), url('../fonts/raleway_thin-webfont.ttf') format('truetype'), url('../fonts/raleway_thin-webfont.svg#webfont') format('svg');
  font-style: normal;
  unicode-range: U0-FFFF; }

@font-face {
  font-family: "carrotcell";
  src: url("../fonts/carrotcell.eot");
  src: url("../fonts/carrotcell.eot?#iefix") format("embedded-opentype"), url("../fonts/carrotcell.woff") format("woff"), url("../fonts/carrotcell.ttf") format("truetype"), url("../fonts/carrotcell.svg#carrotcell") format("svg");
  font-weight: normal;
  font-style: normal; }

[data-icon]:before {
  font-family: "carrotcell" !important;
  content: attr(data-icon);
  font-style: normal !important;
  font-weight: normal !important;
  font-variant: normal !important;
  text-transform: none !important;
  speak: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }

[class^="cc-"]:before, [class*=" cc-"]:before, [class^="cc-"]:after, [class*=" cc-"]:after {
  font-family: "carrotcell" !important;
  font-style: normal !important;
  font-weight: normal !important;
  font-variant: normal !important;
  text-transform: none !important;
  speak: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }

.cc-github:before {
  content: "\e003"; }

.cc-left:before {
  content: "\e004"; }

.cc-down:before {
  content: "\e005"; }

.cc-right:before {
  content: "\e006"; }

.cc-up:before {
  content: "\e007"; }

.cc-carrot:before, .cc-carrot-after:after {
  content: "\e001"; }

.cc-play:before {
  content: "\e008"; }

.cc-pause:before {
  content: "\e009"; }

.cc-stop:before {
  content: "\e000"; }

.cc-download:before {
  content: "\e002"; }

.cc-lab:before {
  content: "\e00a"; }

.cc-files:before {
  content: "\e00b"; }

body {
  color: #aaaaaa;
  font-family: PT;
  font-weight: 300;
  font-size: 15px; }

ol, ul {
  list-style: none; }

a {
  text-decoration: none;
  color: #99cc33; }

a:hover {
  color: #ff9900; }

a[class^="cc-"]:before {
  margin-right: 4px;
  font-size: 85%; }

h1 {
  margin: 60px 0 40px;
  font-family: code;
  font-weight: 300;
  color: #999999;
  font-size: 50px; }
  h1 a {
    color: inherit; }
  h1 :after {
    font-size: 43px;
    color: #999999; }

h2, .intro {
  font-family: raleway;
  font-weight: 300;
  color: #999999;
  font-size: 30px; }

p {
  font-size: 15px; }

.intro {
  font-size: 20px;
  line-height: 1.4em; }

nav {
  margin-top: 20px; }
  nav ol {
    float: right;
    font-family: PT; }
    nav ol li {
      display: inline-block;
      margin-right: 20px; }

.content {
  width: 960px;
  margin: 0 auto; }

#jcc-home {
  margin-top: 80px; }
