/*! 
	CARROT CELL support CSS
*/
/** ------------------------------------------------------- 
	necessary styles
*/
.carrotCell {
  position: relative; }
  .carrotCell .prev, .carrotCell .next {
    position: absolute;
    top: 50%;
    left: 10px;
    cursor: pointer; }
  .carrotCell .next {
    left: auto;
    right: 10px; }
  .carrotCell .disabled {
    opacity: 0.2; }
