footer 
    .content
        p 
            | jCarrotCell Version 2.0 by 
            a(href="http://yujulia.com", class="cc-link") Julia Yu
            | . First draft November 10, 2011, Last Update #{timestamp}

        h2: a(href="https://github.com/yujulia/jCarrotCell", class="cc-github", target="_blank") Github 