nav 
    ol
        li: a(href="https://github.com/yujulia/jCarrotCell", class="cc-github", target="_blank") Github 
        li: a(href="dist/jcarrotcell.zip", class="cc-download") Download 
        li: a(href="demo.html", class="cc-lab", target="_blank") Demos 
        li: a(href="doc.html", class="cc-files") Docs 