@import "partials/vars";

@font-face { 
    font-family: 'code';
    src: url('../fonts/Code-Light.eot');
    src: url('../fonts/Code-Light.eot?#iefix') format('embedded-opentype'),
         url('../fonts/Code-Light.woff') format('woff'),
         url('../fonts/Code-Light.ttf') format('truetype'),
         url('../fonts/Code-Light.svg#webfont') format('svg');
    font-style: normal;
    unicode-range: U+00-FFFF;
}

@font-face { 
    font-family: 'PT';
    src: url('../fonts/PTS55F-webfont.eot');
    src: url('../fonts/PTS55F-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/PTS55F-webfont.woff') format('woff'),
         url('../fonts/PTS55F-webfont.ttf') format('truetype'),
         url('../fonts/PTS55F-webfont.svg#webfont') format('svg');
    font-style: normal;
    unicode-range: U+00-FFFF;
}

@font-face { 
    font-family: 'raleway';
    src: url('../fonts/raleway_thin-webfont.eot');
    src: url('../fonts/raleway_thin-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/raleway_thin-webfont.woff') format('woff'),
         url('../fonts/raleway_thin-webfont.ttf') format('truetype'),
         url('../fonts/raleway_thin-webfont.svg#webfont') format('svg');
    font-style: normal;
    unicode-range: U+00-FFFF;
}

@font-face {
  font-family: "carrotcell";
  src:url("../fonts/carrotcell.eot");
  src:url("../fonts/carrotcell.eot?#iefix") format("embedded-opentype"),
    url("../fonts/carrotcell.woff") format("woff"),
    url("../fonts/carrotcell.ttf") format("truetype"),
    url("../fonts/carrotcell.svg#carrotcell") format("svg");
  font-weight: normal;
  font-style: normal;

}

[data-icon]:before {
  content: attr(data-icon);
  @extend %beforeCarrotCell;
}

[class^="cc-"]:before,
[class*=" cc-"]:before,
[class^="cc-"]:after,
[class*=" cc-"]:after  {
  @extend %beforeCarrotCell;
}


.cc-carrot-after:after {
  content: "\e001";
}

.cc-github:before {
  content: "\e003";
}
.cc-carrot:before {
  content: "\e001";
}
.cc-download:before {
  content: "\e002";
}
.cc-lab:before {
  content: "\e00a";
}
.cc-files:before {
  content: "\e00b";
}
.cc-dot:before {
  content: "\e004";
}
.cc-circle:before {
  content: "\e007";
}
.cc-down:before {
  content: "\e000";
}
.cc-up:before {
  content: "\e005";
}
.cc-right:before {
  content: "\e006";
}
.cc-delete:before {
  content: "\e009";
}
.cc-left:before {
  content: "\e00c";
}
.cc-play:before {
  content: "\e008";
}
.cc-pause:before {
  content: "\e00e";
}
.cc-stop:before {
  content: "\e00f";
}
.cc-link:before {
  content: "\e00d";
}
.cc-star:before {
  content: "\e010";
}
