// ----------------------------------------------- font weights

$xlight: 100;
$light: 300;
$regular: 400;
$book: 500;
$semibold: 600;
$bold: 700;

// ----------------------------------------------- colors

$color-text: #aaaaaa;
$color-main-header: #dddddd;
$color-header: #999999;

$color-carrot: #ff9900;
$color-leaf: #99cc33;

// ----------------------------------------------- clearfix containers

%clearfix {
    zoom: 1;

    &:before, &:after  {
        content: "";
        display: table;
    }

    &:after {
        clear: both;
    }   
}
    
// ----------------------------------------------- generic containers we can extend

%clipbox {
    width: 100%;
    overflow: hidden;
}
    
%nofrill {
    @extend %clearfix;
    margin: 0;
    padding: 0;
}