// ----------------------------------------------- font weights

$xlight: 100;
$light: 300;
$regular: 400;
$book: 500;
$semibold: 600;
$bold: 700;

// ----------------------------------------------- colors

$color-text: #aaaaaa;
$color-main-header: #dddddd;
$color-header: #999999;

$color-carrot: #ff9900;
$color-leaf: #99cc33;

$content-w: 960px;
$pad-button: 35px;

// ----------------------------------------------- extendables

%clearfix {
    zoom: 1;

    &:before, &:after  {
        content: "";
        display: table;
    }

    &:after {
        clear: both;
    }   
}
    
%clipbox {
    width: 100%;
    overflow: hidden;
}
    
%nofrill {
    @extend %clearfix;
    margin: 0;
    padding: 0;
}

%beforeCarrotCell {
    font-family: "carrotcell" !important;
    font-style: normal !important;
    font-weight: normal !important;
    font-variant: normal !important;
    text-transform: none !important;
    speak: none;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

// ----------------------------------------------- mixins
@mixin round($rad){
    -webkit-border-radius: $rad;
    -moz-border-radius: $rad;
    border-radius: $rad;
}
    